---
layout: page
---

<p>
  Hello, My name is  <code class="highlighter-rouge">REDACTED</code>.  But I mainly go online as “Little Cat”.  If you want to reach out to me, I’m mainly active on my <a href="https://twitter.com/LittleToonCat">Twitter</a>.
</p>
<p>
  More info about me on my About page.
</p>

<hr>

<ul class="post-list">
    <!--
        Here is the main paginator logic called.
        All calls to site.posts should be replaced by paginator.posts
    -->
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <div class="content">
          {{ post.content }}
        </div>
      </li>
    {% endfor %}
  </ul>

  <!--
    Showing buttons to move to the next and to the previous list of posts (pager buttons).
  -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}
